/* 
========
Toggle Container
========
*/

.toggle-container {
  width: var(--view-width);
  max-width: var(--max-width);
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.dark-toggle {
  background: transparent;
  border-color: transparent;
  width: 5rem;
  height: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.toggle-icon {
  font-size: 1.5rem;
  color: var(--textColor);
}
/* 
========
Search Form
========
*/
.title {
  color: var(--primary-500);
}
.search-form {
  width: var(--view-width);
  max-width: var(--fixed-width);
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-input {
  border-color: var(--grey-300);
  transition: var(--darkModeTransition);
  color: var(--textColor);
  border-radius: 0;

  /* border-right: none; */
}

.search-form .btn {
  border-radius: 0;
}
.search-form .btn:hover {
  background: var(--primary-300);
  color: var(--black);
}

/* 
========
Gallery
========
*/

.image-container {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 3rem auto;
  display: grid;
  gap: 2rem;
}

.image-container .img {
  height: 10rem;
}

@media (min-width: 768px) {
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
